<mat-toolbar class="mx-auto border-x justify-between">
  <a routerLink="home">Definitely Fake Store</a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon
      [matBadge]="itemCount"
      [matBadgeHidden]="itemCount === 0"
      matBadgeColor="warn"
      aria-hidden="false"
      >shopping_cart
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-solid min-w-320">
      <div class="pb-4 flex justify-between">
        <span class="mr-16"
          >{{ itemCount === 1 ? itemCount + ' Item' : itemCount + ' Items' }}
        </span>
        <a routerLink="cart">View Cart</a>
      </div>
      <div
        *ngFor="let item of items"
        class="flex justify-between font-light mb-2">
        {{ item.name }} x {{ item.quantity }}
        <span class="font-bold pl-3">{{
          onGetTotal(item) | currency: 'EUR'
        }}</span>
      </div>

      <div class="flex justify-between py-3 font-bold">
        Total
        <span class="font-bold">{{
          onGetFinalPrice(items) | currency: 'EUR'
        }}</span>
      </div>
      <div class="pt-3 flex justify-between">
        <button
          (click)="onClearCart()"
          class="bg-rose-600 text-white rounded-full w-9 h-9">
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
        <button routerLink="cart" class="bg-green-600 text-white w-9 h-9">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
